# Mot de passe pour la page admin (/admin)
ADMIN_PASSWORD=change-me-in-production

# MongoDB Atlas — Cluster0 (URI standard, copier depuis Atlas > Connect > Drivers)
MONGODB_URI=mongodb://elhoucineqara114_db_user:<password>@ac-g9508ac-shard-00-00.4cqm0mp.mongodb.net:27017,ac-g9508ac-shard-00-01.4cqm0mp.mongodb.net:27017,ac-g9508ac-shard-00-02.4cqm0mp.mongodb.net:27017/qaratech?ssl=true&replicaSet=atlas-8egktv-shard-0&authSource=admin&retryWrites=true&w=majority
